{% extends 'News/base.html' %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <p>Spygadget это независимый сайт обзорник специализирующийся на обзорах шпионких программ, приложений, гаджетов, а также устройств для слешки и прослушки.</p>
    <h2>Наши основные принципы:</h2>

    <p><h3>Объективность.</h3> Все обзоры сайт освещает всесторонне и стремится отражать точки зрения всех участников.</p>

    <p><h3>Достоверность.</h3> Сайт доверяет только проверенным источникам, любая полученная информация проверяется и подтверждается. Также вы можете нам предложить свои новости которые мы опубликуем</p>

    <p><h3>Непредвзятость.</h3> Spygadget передает только факты, не навязывая своим читателям определенных мнений, оставляя за ними право самим делать выводы.</p>

        <p>Хороших Вам новостей!</p>
    <h4>Наши контакты</h4>
    <p>Для сотрудничества пишите нам на почту spygadget@gmail.com.</p>
    <p>Номер телефона +3605640654064</p>

{% endblock %}